/* 
    Created on : Aug 1, 2014, 3:05:57 PM
    Author     : Michael Zijlstra <mzijlstra at mum.edu>
*/
/* 
    Created on : Aug 1, 2014, 6:55:27 PM
    Author     : Michael Zijlstra <mzijlstra at mum.edu>
*/
/* begin and end of flow chart */
.start, .stop {
  width: 80px;
  height: 80px;
  margin-left: 20px;
  text-align: center;
  line-height: 75px;
  border: 1px solid #333366;
  border-radius: 55px; }

/* connections between statements */
.connection {
  cursor: pointer; }
  .connection .line {
    width: 0px;
    height: 15px;
    margin-left: 59px;
    border: 1px solid #333366; }
  .connection .point {
    width: 0px;
    height: 0px;
    margin-left: 57px;
    border: 3px solid #333366;
    border-radius: 3px; }

.connection:hover .point {
  position: relative;
  z-index: 3;
  background-color: white;
  width: 4px;
  height: 4px;
  border: 1px solid #333366; }

/* all statements */
.arrow_down {
  width: 0px;
  height: 0px;
  border-top: 8px solid #333366;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  margin-left: 52px; }

/* assignment statements input/output/assignment */
.assignment {
  position: relative;
  padding: 17px;
  margin-left: 22px; }
  .assignment .var_container {
    float: left; }
    .assignment .var_container .menu {
      position: absolute;
      top: 45px;
      left: 17px;
      min-width: 100px;
      min-height: 10px; }
  .assignment .var_container:hover .menu {
    display: block; }
  .assignment .var, .assignment .exp {
    background-color: white;
    border: 2px solid #333366;
    padding: 15px; }
  .assignment .asgn {
    font-size: 300%;
    line-height: 0px;
    vertical-align: middle; }

/* decision diamond for IF and WHILE statemetns */
.diamond {
  position: relative; }
  .diamond .diamond_top_outside {
    width: 0px;
    height: 0px;
    position: relative;
    border-bottom: 60px solid #333366;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent; }
  .diamond .diamond_bot_outside {
    width: 0px;
    height: 0px;
    position: relative;
    border-top: 60px solid #333366;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent; }
  .diamond .diamond_top_inside {
    width: 0px;
    height: 0px;
    position: absolute;
    border-bottom: 58px solid white;
    border-left: 58px solid transparent;
    border-right: 58px solid transparent;
    left: -58px;
    top: 2px; }
  .diamond .diamond_bot_inside {
    width: 0px;
    height: 0px;
    position: absolute;
    border-top: 58px solid white;
    border-left: 58px solid transparent;
    border-right: 58px solid transparent;
    left: -58px;
    top: -61px; }
  .diamond .exp {
    position: absolute;
    top: 50px;
    left: 15px; }
  .diamond .label_stmt {
    position: absolute;
    top: 5px;
    left: 5px;
    font-weight: bold; }
  .diamond .label_true {
    position: absolute;
    top: 40px;
    left: 115px; }
  .diamond .label_false {
    position: absolute;
    top: 100px;
    left: 10px; }

/* if statements */
.if {
  position: relative; }
  .if table {
    border-spacing: 0px;
    position: relative; }
  .if td {
    vertical-align: top;
    padding: 0px;
    position: relative; }
  .if .absolute_left, .if .absolute_right {
    z-index: 0;
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 0px;
    margin-left: 59px;
    border: 1px solid #333366; }
  .if .top_connect {
    position: absolute;
    top: -61px;
    right: -61px;
    left: 118px;
    height: 61px;
    border-top: 2px solid #333366;
    border-right: 2px solid #333366; }
  .if .bot_left_connect {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-left: 61px;
    border: 1px solid #333366; }
    .if .bot_left_connect .arrow_left {
      position: absolute;
      top: -8px;
      left: 0px;
      width: 0px;
      height: 0px;
      border-right: 8px solid #333366;
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent; }
  .if .bot_right_connect {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 0px;
    width: 59px;
    border: 1px solid #333366; }

/* while statements */
.while .true_connector {
  position: absolute;
  top: 59px;
  left: 118px;
  width: 56px;
  height: 59px;
  border-top: 2px solid #333366;
  border-right: 2px solid #333366; }
.while .container {
  position: relative; }
.while .false_line {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 59px;
  width: 0px;
  border: 1px solid #333366; }
.while .return_line {
  position: absolute;
  top: -8px;
  bottom: -2px;
  left: 79px;
  width: 95px;
  border-left: 2px solid #333366;
  border-bottom: 2px solid #333366; }
.while .loop_body {
  margin-left: 115px; }
.while .arrow_up {
  position: absolute;
  left: -9px;
  top: -8px;
  width: 0px;
  height: 0px;
  border-bottom: 8px solid #333366;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent; }

/* Storage for initial building blocks */
body {
  font-family: monospace;
  font-size: 12px;
  color: #333366; }

h1 {
  margin-left: 35px;
  margin-top: 0px; }

div#projects {
  background-color: #f8f8f8;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border: 1px solid #333366;
  cursor: pointer; }
  div#projects div.arrow_down {
    position: relative;
    margin-left: 5px;
    top: 9px; }

div#projects:hover #project_menu {
  display: block; }

#user {
  position: absolute;
  top: 0px;
  right: 0px;
  margin-right: 5px; }

#building_blocks {
  display: none; }

#workspace {
  position: fixed;
  top: 40px;
  bottom: 20px;
  left: 10px;
  right: 2px;
  border-top: 1px solid #333366;
  border-bottom: 1px solid #333366;
  border-right: 1px solid #333366; }

#var_area {
  position: absolute;
  left: 0px;
  width: 250px;
  top: 0px;
  bottom: 0px; }
  #var_area .label {
    padding: 3px;
    border-bottom: 1px dashed #333366; }

/* Force consistent fonts across browsers */
#functions {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 250px;
  right: 0px;
  border-left: 1px solid #333366; }
  #functions #fun-names {
    padding: 3px;
    border-bottom: 1px solid #333366; }
  #functions #instructions {
    position: absolute;
    padding: 5px;
    top: 21px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow: auto; }

/* left click insertion menu */
.menu {
  display: none;
  position: absolute;
  border: 1px solid #333366;
  background-color: #f8f8f8;
  z-index: 10; }
  .menu .menu_item {
    padding: 3px;
    white-space: nowrap; }
  .menu .menu_label {
    text-align: center;
    font-style: italic;
    cursor: auto; }
  .menu .menu_item:hover {
    background-color: #ddddee; }

#project_menu {
  top: 24px;
  left: -1px; }

footer {
  position: fixed;
  bottom: 5px;
  left: 50%;
  width: 300px;
  margin-left: -150px;
  text-align: center; }

/*# sourceMappingURL=page.css.map */
