/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 3, 2014, 6:10:01 PM
    Author     : mzijlstra
*/
body {
    font-family: monospace;
    font-size: 12px;
}
.start, .stop {
    width: 80px;
    height: 80px;
    border-radius: 55px;
    border: 1px solid black;
    text-align: center;
    font-family: monospace;
    line-height: 75px;
    margin-left: 20px; 
}
.connection {
    margin-left: 50px;
    background-color: white;
    z-index: 10;
}
.line {
    display: block;
    border: 1px solid black;
    width: 0px;
    height: 20px;
    margin-left: 9px;
}
.point {
    display: block;
    border: 3px solid black;
    width: 0px;
    height: 0px;
    margin-left: 7px;
    border-radius: 3px;
}
.statement {
    position: relative;
}
.arrow_down {
    width: 0px;
    height: 0px;
    border-top: 8px solid black;
    border-left: 8px solid transparent; 
    border-right: 8px solid transparent; 
    margin-left: 52px;
}
.assignment {
    border: 1px solid black;
    max-width: 170px;
    padding: 15px;
    font-family: monospace;
    background-color: white;
}
.diamond_top_outside {
    width: 0px;
    height: 0px;
    position: relative;
    border-bottom: 60px solid black;
    border-left: 60px solid transparent; 
    border-right: 60px solid transparent; 
}
.diamond {
    position: relative;
}
.diamond_bot_outside {
    width: 0px;
    height: 0px;
    position: relative;
    border-top: 60px solid black;
    border-left: 60px solid transparent; 
    border-right: 60px solid transparent; 
}
.diamond_top_inside {
    width: 0px;
    height: 0px;
    position: absolute;
    border-bottom: 58px solid white;
    border-left: 58px solid transparent; 
    border-right: 58px solid transparent;
    left: -58px;
    top: 2px;
}
.diamond_bot_inside {
    width: 0px;
    height: 0px;
    position: absolute;
    border-top: 58px solid white;
    border-left: 58px solid transparent; 
    border-right: 58px solid transparent; 
    left: -58px;
    top: -61px;
}
.diamond .exp {
    position: absolute;
    top: 50px;
    left: 15px;    
}
.label_stmt {
    position: absolute;
    top: 5px;
    left: 5px;
    font-weight: bold;
}
.label_true {
    position: absolute;
    top: 40px;
    left: 115px;
}
.label_false {
    position: absolute;
    top: 100px;
    left: 10px;
}
.if {
    position: relative;
    overflow: hidden;
}

.if table {
    border-spacing: 0px;
    position: relative;
}
.if td {
    vertical-align: top;
    padding: 0px;
}
.if td.left {
    border-right: 2px solid black;
}
.if td.right {
    border-left: 2px solid black;
}
.expander {
    min-width: 100px;
    position: relative;
    background-color: white;
}
td.left .expander {
    left: 2px;
    padding-right: 5px;    
}
td.right .expander {
    right: 2px;
    padding-left: 5px;
}
td.left .expander > div {
    position: relative;
    left: -2px;
}
td.right .expander > div {
    position: relative;
    right: -2px;
}

.absolute_left {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 59px;
    width: 0px;
    border: 1px solid black;
}
.if > table tr td .expander .top_connector {
    position: absolute;
    top: -61px;
    right: -68px;
    left: 118px;
    height: 61px;
    border-top: 2px solid black;
    border-right: 2px solid black;
}
.bot_connector {
    margin-left: 50px;
    /*background-color: white;*/
}
.bot_connector .vert_line {
    height: 16px;
    border: 1px solid black;
    width: 0px;
    margin-left: 9px;
}
.bot_connector .horiz_line {
    position: absolute;
    left: 9px;
    right: -7px;
    top: 8px;
    height: 8px;
    border-top: 2px solid black;
    border-right: 2px solid black;
}
.bot_connector .arrow_left {
    width: 0px;
    height: 0px;
    border-right: 8px solid black;
    border-top: 8px solid transparent; 
    border-bottom: 8px solid transparent; 
    position: absolute;
    top: 0px;
    left: 10px;
}
.bot_right_connect {
    height: 0px;
    width: 66px;
    border: 1px solid black;
    margin-left: -7px;
}

.while .true_connector {
    position: absolute;
    top: 59px;
    left: 119px;
    width: 55px;
    height: 59px;
    border-top: 2px solid black;
    border-right: 2px solid black;
}
.while .container {
    position: relative;
}
.while .false_line {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 59px;
    width: 0px;
    border: 1px solid black;
}
.while .return_line {
    position: absolute;
    top: -8px;
    bottom: -2px;
    left: 79px;
    width: 95px;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}
.while .loop_body {
    position: relative;
    left: 115px;
}
.while .arrow_up {
    position: absolute;
    left: -9px;
    top: -8px;
    width: 0px;
    height: 0px;
    border-bottom: 8px solid black;
    border-left: 8px solid transparent; 
    border-right: 8px solid transparent; 
}
