/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 3, 2014, 6:10:01 PM
    Author     : mzijlstra
*/
body {
    font-family: monospace;
    font-size: 12px;
}
.start, .stop {
    width: 80px;
    height: 80px;
    border-radius: 55px;
    border: 1px solid black;
    text-align: center;
    font-family: monospace;
    line-height: 75px;
    margin-left: 20px; 
}
.connection {
    margin-left: 50px;
    background-color: white;
    z-index: 10;
}
.line {
    display: block;
    border: 1px solid black;
    width: 0px;
    height: 20px;
    margin-left: 9px;
}
.point {
    display: block;
    border: 3px solid black;
    width: 0px;
    height: 0px;
    margin-left: 7px;
    border-radius: 3px;
}
.statement {
    position: relative;
}
.arrow_down {
    width: 0px;
    height: 0px;
    border-top: 8px solid black;
    border-left: 8px solid transparent; 
    border-right: 8px solid transparent; 
    margin-left: 52px;
}
.assignment {
    border: 1px solid black;
    max-width: 170px;
    padding: 15px;
    font-family: monospace;
    background-color: white;
}
.diamond_top_outside {
    width: 0px;
    height: 0px;
    position: relative;
    border-bottom: 60px solid black;
    border-left: 60px solid transparent; 
    border-right: 60px solid transparent; 
}
.diamond_bot_outside {
    width: 0px;
    height: 0px;
    position: relative;
    border-top: 60px solid black;
    border-left: 60px solid transparent; 
    border-right: 60px solid transparent; 
}
.diamond_top_inside {
    width: 0px;
    height: 0px;
    position: absolute;
    border-bottom: 58px solid white;
    border-left: 58px solid transparent; 
    border-right: 58px solid transparent;
    left: -58px;
    top: 2px;
}
.diamond_bot_inside {
    width: 0px;
    height: 0px;
    position: absolute;
    border-top: 58px solid white;
    border-left: 58px solid transparent; 
    border-right: 58px solid transparent; 
    left: -58px;
    top: -61px;
}
.if {
    position: relative;
    overflow: hidden;
}
.if .diamond .exp {
    position: absolute;
    top: 55px;
    left: 15px;    
}
.if .label_true {
    position: absolute;
    top: 100px;
    left: 10px;
}
.if .label_false {
    position: absolute;
    top: 40px;
    left: 115px;
}
.if table {
    border-spacing: 0px;
    position: relative;
}
.if td {
    vertical-align: top;
    padding: 0px;
}
.if td.left {
    border-right: 2px solid black;
}
.if td.right {
    border-left: 2px solid black;
}
.expander {
    min-width: 200px;
    position: relative;
}
td.left .expander {
    left: 2px;
}
td.right .expander {
    right: 2px;
}
td.left .expander > div {
    position: relative;
    left: -2px;
}
td.right .expander > div {
    position: relative;
    right: -2px;
}

.absolute_true {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 59px;
    width: 0px;
    border: 1px solid black;
}
.true {
    background-color: white;
    padding-right: 5px;    
}
.false {
    background-color: white;
    padding-left: 5px;
}
.if > table tr td .expander.true .top_connector {
    position: absolute;
    top: -61px;
    right: -68px;
    left: 118px;
    height: 61px;
    border-top: 2px solid black;
    border-right: 2px solid black;
}
.bot_connector {
    margin-left: 50px;
    /*background-color: white;*/
}
.bot_connector .vert_line {
    height: 16px;
    border: 1px solid black;
    width: 0px;
    margin-left: 9px;
}
.bot_connector .horiz_line {
    position: absolute;
    left: 9px;
    right: -7px;
    top: 8px;
    height: 8px;
    border-top: 2px solid black;
    border-right: 2px solid black;
}
.bot_connector .arrow_left {
    width: 0px;
    height: 0px;
    border-right: 8px solid black;
    border-top: 8px solid transparent; 
    border-bottom: 8px solid transparent; 
    position: absolute;
    top: 0px;
    left: 10px;
}
.bot_false_connect {
    height: 0px;
    width: 66px;
    border: 1px solid black;
    margin-left: -7px;
}
