/* 
    Created on : May 3, 2014, 6:10:01 PM
    Author     : mzijlstra
*/
/* Force consistent fonts across browsers */
body {
    font-family: monospace;
    font-size: 12px;
}

/* Storage for initial building blocks */
.building_blocks {
    display: none;
}

/* begin and end of flow chart */
.start, .stop {
    width: 80px;
    height: 80px;
    border-radius: 55px;
    border: 1px solid black;
    text-align: center;
    font-family: monospace;
    line-height: 75px;
    margin-left: 20px; 
}

/* connections between statements */
.connection {
    margin-left: 50px;
/*    background-color: white;
    z-index: 10; */
}
.line {
    border: 1px solid black;
    width: 0px;
    height: 15px;
    margin-left: 9px;
}
.point {
    border: 3px solid black;
    width: 0px;
    height: 0px;
    margin-left: 7px;
    border-radius: 3px;
}

/* all statements */
.statement {
    position: relative;
}
.arrow_down {
    width: 0px;
    height: 0px;
    border-top: 8px solid black;
    border-left: 8px solid transparent; 
    border-right: 8px solid transparent; 
    margin-left: 52px;
}

/* assignment statements */
.assignment {
    border: 1px solid black;
    max-width: 170px;
    padding: 15px;
    font-family: monospace;
    background-color: white;
}

/* decision diamond for IF and WHILE statemetns */
.diamond_top_outside {
    width: 0px;
    height: 0px;
    position: relative;
    border-bottom: 60px solid black;
    border-left: 60px solid transparent; 
    border-right: 60px solid transparent; 
}
.diamond {
    position: relative;
}
.diamond_bot_outside {
    width: 0px;
    height: 0px;
    position: relative;
    border-top: 60px solid black;
    border-left: 60px solid transparent; 
    border-right: 60px solid transparent; 
}
.diamond_top_inside {
    width: 0px;
    height: 0px;
    position: absolute;
    border-bottom: 58px solid white;
    border-left: 58px solid transparent; 
    border-right: 58px solid transparent;
    left: -58px;
    top: 2px;
}
.diamond_bot_inside {
    width: 0px;
    height: 0px;
    position: absolute;
    border-top: 58px solid white;
    border-left: 58px solid transparent; 
    border-right: 58px solid transparent; 
    left: -58px;
    top: -61px;
}
.diamond .exp {
    position: absolute;
    top: 50px;
    left: 15px;    
}
.label_stmt {
    position: absolute;
    top: 5px;
    left: 5px;
    font-weight: bold;
}
.label_true {
    position: absolute;
    top: 40px;
    left: 115px;
}
.label_false {
    position: absolute;
    top: 100px;
    left: 10px;
}

/* if statements */
.if {
    position: relative;
    overflow: hidden;
}
.if table {
    border-spacing: 0px;
    position: relative;
}
.if td {
    vertical-align: top;
    padding: 0px;
}
.if td.left {
    border-right: 2px solid black;
}
.if td.right {
    border-left: 2px solid black;
}
.if .expander {
    min-width: 100px;
    position: relative;
    background-color: white;
}
.if td.left > .expander {
    left: 2px;
    padding-right: 5px;    
}
.if td.right > .expander {
    right: 2px;
    padding-left: 5px;
}
.if td.left > .expander > div {
    position: relative;
    left: -2px;
}
.if td.right > .expander > div {
    position: relative;
    right: -2px;
}
.if .absolute_left {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 59px;
    width: 0px;
    border: 1px solid black;
}
.if > table tr td .expander .top_connector {
    position: absolute;
    top: -61px;
    right: -68px;
    left: 118px;
    height: 61px;
    border-top: 2px solid black;
    border-right: 2px solid black;
}
.if .bot_connector {
    margin-left: 50px;
}
.if .bot_connector .vert_line {
    height: 16px;
    border: 1px solid black;
    width: 0px;
    margin-left: 9px;
}
.if .bot_connector .horiz_line {
    position: absolute;
    left: 9px;
    right: -7px;
    top: 8px;
    height: 8px;
    border-top: 2px solid black;
    border-right: 2px solid black;
}
.if .bot_connector .arrow_left {
    width: 0px;
    height: 0px;
    border-right: 8px solid black;
    border-top: 8px solid transparent; 
    border-bottom: 8px solid transparent; 
    position: absolute;
    top: 0px;
    left: 10px;
}
.if .bot_right_connect {
    height: 0px;
    width: 66px;
    border: 1px solid black;
    margin-left: -7px;
}

/* while statements */
.while .true_connector {
    position: absolute;
    top: 59px;
    left: 119px;
    width: 55px;
    height: 59px;
    border-top: 2px solid black;
    border-right: 2px solid black;
}
.while .container {
    position: relative;
}
.while .false_line {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 59px;
    width: 0px;
    border: 1px solid black;
}
.while .return_line {
    position: absolute;
    top: -8px;
    bottom: -2px;
    left: 79px;
    width: 95px;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}
.while .loop_body {
    margin-left: 115px;
}
.while .arrow_up {
    position: absolute;
    left: -9px;
    top: -8px;
    width: 0px;
    height: 0px;
    border-bottom: 8px solid black;
    border-left: 8px solid transparent; 
    border-right: 8px solid transparent; 
}

/* left click insertion menu */
#menu {
    display: none;
    position: absolute;
    border: 1px solid black;
    background-color: #eeeeee;
}
.menu_item {
    padding: 3px;
}
.menu_item:hover {
    background-color: #ddddee;
}
