/* 
    Created on : Aug 29, 2014, 1:08:05 PM
    Author     : mzijlstra
*/
body {
  background-color: #336;
  font-family: monospace;
  font-size: 12px;
  color: white; 
}
.central {
    position: absolute;
    top: 25%;
    left: 50%;
    width: 400px;
    margin-left: -200px;
}
h1 {
    font-size: 520%;
    text-align: center;
    margin-bottom: 2px;
    text-align: center;
}
h2 {
    font-size: 170%;
    margin-top: 0px;
    text-align: center;
}
.container {
    border: 2px solid white;
    padding: 10px;
}
.error {
    font-size: 15px;
    padding-bottom: 3px;
}
input[type=email], input[type=password] { 
    background-color: #336;
    color: white;
    font-family: inherit;
    margin-bottom: 5px;
    width: 375px;
}
#lgn_right {
    text-align: right;
}