/* 
    Created on : Aug 1, 2014, 3:05:57 PM
    Author     : Michael Zijlstra <mzijlstra at mum.edu>
*/
/* 
    Created on : Aug 1, 2014, 6:55:27 PM
    Author     : Michael Zijlstra <mzijlstra at mum.edu>
*/
/* General components */
.del {
  position: absolute;
  color: white;
  background-color: #DD4444;
  padding: 2px 4px;
  border: 1px solid white;
  display: none;
  cursor: pointer; }

.arrow_down {
  width: 0px;
  height: 0px;
  border-top: 8px solid white;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  margin-left: 52px; }

/* variables section */
.variable {
  padding-left: 15px;
  position: relative; }
  .variable .del {
    top: 2px;
    left: -2px; }
  .variable .type_container {
    width: 62px;
    padding-left: 3px; }

div.variable:hover .del {
  display: block; }

div.variable.bottom .del {
  display: none; }

.variable.inuse .del {
  background-color: #282858;
  border-color: #556;
  color: #556; }

/* Types in var section and start statement */
.type_container {
  display: inline-block; }
  .type_container .type {
    position: relative;
    padding: 3px 0px; }
    .type_container .type input {
      position: absolute;
      top: -2px;
      left: 0px;
      width: 65px; }

.type_container:hover .type {
  border: 1px solid white; }

.type_container:hover .menu {
  position: absolute;
  display: block;
  top: 20px; }

/* begin and end of flow chart */
.start, .stop {
  position: relative;
  width: 80px;
  height: 80px;
  margin-left: 20px;
  border: 2px solid white;
  border-radius: 55px; }
  .start .text, .stop .text {
    position: absolute;
    left: 6px;
    top: 26px;
    padding: 5px 0px;
    background-color: #336;
    white-space: nowrap; }
  .start input, .stop input {
    position: absolute;
    top: 2px;
    left: 29px;
    background-color: #336; }

.stop input {
  left: 48px; }

/* connections between statements */
.connection {
  cursor: pointer; }
  .connection .line {
    width: 0px;
    height: 15px;
    margin-left: 59px;
    border: 1px solid white; }
  .connection .point {
    width: 0px;
    height: 0px;
    margin-left: 57px;
    border: 3px solid white;
    border-radius: 3px; }
  .connection .sline {
    width: 0px;
    height: 6px;
    margin-left: 59px;
    border-left: 2px solid white;
    padding-left: 2px; }

.edit .connection .point {
  display: block; }

.edit .connection .sline {
  display: none; }

.exec .connection .point {
  display: none; }

.exec .connection .sline {
  display: block; }

.connection:hover .point {
  position: relative;
  z-index: 3;
  background-color: #336;
  width: 4px;
  height: 4px;
  border: 1px solid white; }

/* all statements */
.statement {
  position: relative; }
  .statement .del {
    top: 0px;
    left: 0px; }

.statement:hover > .del, .diamond:hover .del {
  display: block;
  z-index: 10; }

/* statements input/output/assignment */
.assignment, .input, .output {
  position: relative;
  padding: 0px 17px;
  margin-left: 22px; }
  .assignment .var_container, .input .var_container, .output .var_container {
    display: inline-block; }
    .assignment .var_container .menu, .input .var_container .menu, .output .var_container .menu {
      position: absolute;
      top: 45px;
      left: 17px;
      min-width: 100px;
      min-height: 10px; }
  .assignment .var_container:hover .menu, .input .var_container:hover .menu, .output .var_container:hover .menu {
    display: block; }
  .assignment .var, .assignment .exp, .assignment .io, .input .var, .input .exp, .input .io, .output .var, .output .exp, .output .io {
    background-color: #336;
    border: 2px solid white;
    padding: 15px;
    display: inline-block;
    min-width: 13px; }
  .assignment .exp, .input .exp, .output .exp {
    position: relative; }
    .assignment .exp input[type=text], .input .exp input[type=text], .output .exp input[type=text] {
      z-index: 100;
      position: absolute;
      top: -2px;
      left: -2px;
      border: 2px solid white;
      padding: 15px;
      background-color: #336; }
  .assignment .asgn, .input .asgn, .output .asgn {
    display: inline-block;
    font-size: 300%;
    line-height: 0px;
    vertical-align: middle; }

/* decision diamond for IF and WHILE statemetns */
.diamond {
  position: relative; }
  .diamond .diamond_top_outside {
    width: 0px;
    height: 0px;
    position: relative;
    border-bottom: 60px solid white;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent; }
  .diamond .diamond_bot_outside {
    width: 0px;
    height: 0px;
    position: relative;
    border-top: 60px solid white;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent; }
  .diamond .diamond_top_inside {
    width: 0px;
    height: 0px;
    position: absolute;
    border-bottom: 58px solid #336;
    border-left: 58px solid transparent;
    border-right: 58px solid transparent;
    left: -58px;
    top: 2px; }
  .diamond .diamond_bot_inside {
    width: 0px;
    height: 0px;
    position: absolute;
    border-top: 58px solid #336;
    border-left: 58px solid transparent;
    border-right: 58px solid transparent;
    left: -58px;
    top: -61px; }
  .diamond .exp {
    position: absolute;
    top: 40px;
    left: 22px;
    background: #336;
    padding-top: 3px; }
    .diamond .exp input {
      z-index: 100;
      position: absolute;
      top: 0px;
      left: 0px;
      border: 1px solid white;
      background: #336; }
  .diamond .label_stmt {
    position: absolute;
    top: 5px;
    left: 85px;
    font-weight: bold; }
  .diamond .label_true {
    position: absolute;
    top: 65px;
    left: 125px; }
  .diamond .label_false {
    position: absolute;
    top: 100px;
    left: 10px; }

/* if statements */
.if {
  position: relative; }
  .if table {
    border-spacing: 0px;
    position: relative; }
  .if td {
    vertical-align: top;
    padding: 0px;
    position: relative; }
  .if td.left {
    min-width: 113px; }
  .if .absolute_left, .if .absolute_right {
    z-index: -1;
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 0px;
    margin-left: 59px;
    border: 1px solid white; }
  .if .top_connect {
    position: absolute;
    top: -61px;
    right: -61px;
    left: 118px;
    height: 61px;
    border-top: 2px solid white;
    border-right: 2px solid white; }
  .if .bot_left_connect {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-left: 61px;
    border: 1px solid white; }
    .if .bot_left_connect .arrow_left {
      position: absolute;
      top: -8px;
      left: 0px;
      width: 0px;
      height: 0px;
      border-right: 8px solid white;
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent; }
  .if .bot_right_connect {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 0px;
    width: 59px;
    border: 1px solid white; }

/* while statements */
.while .true_connector {
  position: absolute;
  top: 59px;
  left: 118px;
  width: 56px;
  height: 59px;
  border-top: 2px solid white;
  border-right: 2px solid white; }
.while .container {
  position: relative; }
.while .false_line {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 59px;
  width: 0px;
  border: 1px solid white; }
.while .return_line {
  position: absolute;
  top: -8px;
  bottom: -2px;
  left: 79px;
  width: 95px;
  border-left: 2px solid white;
  border-bottom: 2px solid white; }
.while .loop_body {
  margin-left: 115px; }
.while .arrow_up {
  position: absolute;
  left: -9px;
  top: -8px;
  width: 0px;
  height: 0px;
  border-bottom: 8px solid white;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent; }

.statement.type_error > div > .diamond > .diamond_top_outside,
.statement.exp_error > div > .diamond > .diamond_top_outside {
  border-bottom-color: red; }

.statement.type_error > div > .diamond > .diamond_bot_outside,
.statement.exp_error > div > .diamond > .diamond_bot_outside {
  border-top-color: red; }

.statement.name_error .input .var, .statement.name_error .input .exp, .statement.name_error .assignment .var, .statement.name_error .assignment .exp {
  border-color: red; }

.statement.type_error .input .asgn,
.statement.type_error .assignment .asgn,
.statement.type_error .output .asgn {
  color: red; }

.statement.exp_error .output .exp,
.statement.exp_error .assignment .exp {
  border-color: red; }

.statement.type_error .stop,
.statement.exp_error .stop,
.stop.type_error,
.stop.exp_error {
  border-color: red; }

/* 
    Created on : Jun 8, 2015, 2:59:16 PM
    Author     : mzijlstra
*/
.exec #controls #reset {
  color: white; }
.exec #controls #reset:hover {
  color: red; }

.exec .del, .exec .connection {
  cursor: default !important; }

.exec div:hover .del, .exec div:hover .menu {
  display: none !important; }

.exec .executing.connection div.line, .exec .executing.connection div.sline {
  border-color: greenyellow; }
.exec .executing.connection div.arrow_down {
  border-top-color: greenyellow; }

.exec .executing .start,
.exec .executing .stop,
.exec div.statement span.executing,
.exec .executing.statement > .input > .io,
.exec .executing.statement > .output > .exp,
.exec .executing.statement > .assignment > .exp,
.exec .asgn.executing {
  border-color: greenyellow; }

.exec .io.eval,
.exec .exp.eval,
.exec .asgn.eval {
  color: greenyellow; }

.exec .executing > div > .diamond > .diamond_top_outside {
  border-bottom-color: greenyellow; }

.exec .executing > div > .diamond > .diamond_bot_outside {
  border-top-color: greenyellow; }

.exec .top_connect.executing,
.exec .absolute_right.executing,
.exec .absolute_left.executing,
.exec .bot_right_connect.executing,
.exec .bot_left_connect.executing {
  border-color: greenyellow; }

.exec .bot_left_connect.executing .arrow_left {
  border-right-color: greenyellow; }

.exec .false_line.executing,
.exec .true_connector.executing,
.exec .return_line.executing {
  border-color: greenyellow; }

.exec .return_line.executing .arrow_up {
  border-bottom-color: greenyellow; }

body {
  font-family: monospace;
  font-size: 12px;
  color: white;
  background-color: #336; }

input {
  font-family: inherit;
  font-size: inherit;
  background-color: #336;
  border-color: white;
  color: white; }

h1 {
  margin-left: 35px;
  margin-top: 0px; }

iframe {
  display: none !important; }

div#projects {
  background-color: #282858;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border: 1px solid white;
  cursor: pointer; }
  div#projects div.arrow_down {
    position: relative;
    margin-left: 5px;
    top: 9px; }

div#projects:hover #project_menu {
  display: block; }

#user {
  position: absolute;
  top: 0px;
  right: 0px;
  margin-right: 5px; }

#building_blocks {
  display: none; }

#workspace {
  position: fixed;
  top: 40px;
  bottom: 20px;
  left: 10px;
  right: 2px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-right: 1px solid white; }

#controls {
  z-index: 100;
  position: absolute;
  bottom: -77px;
  right: 0px;
  width: 75px;
  height: 75px;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  cursor: pointer; }
  #controls #play_pause {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: radial-gradient(circle, #AAD 1%, white 57%, #282858 60%); }
    #controls #play_pause #play_btn {
      width: 0px;
      height: 0px;
      position: absolute;
      top: 20px;
      left: 30px;
      border-left: 22px solid #336;
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent; }
    #controls #play_pause #pause_btn {
      display: none;
      position: absolute;
      top: 23px;
      left: 28px; }
      #controls #play_pause #pause_btn .pause_bar {
        width: 0px;
        height: 0px;
        display: inline-block;
        border-left: 10px solid #336;
        border-top: 25px solid #336;
        margin-left: -3px; }
  #controls .control {
    width: 75px;
    text-align: center;
    border: 1px solid white;
    position: absolute;
    background-color: #282858;
    border-left: none;
    border-right: none; }
  #controls #reset {
    left: -16px;
    top: 76px;
    transform: rotate(-90deg);
    transform-origin: 0 0;
    color: #444; }
  #controls #step_btn, #controls #delay_disp {
    bottom: -16px;
    left: -1px;
    border-right: none; }
  #controls #step_btn {
    display: none; }
  #controls #corner_ctrl {
    position: absolute;
    left: -16px;
    bottom: -16px;
    width: 0px;
    height: 0px;
    border-right: 15px solid white;
    border-bottom: 15px solid transparent; }
    #controls #corner_ctrl #corner_menu {
      position: absolute;
      top: 0px;
      right: -16px;
      border-right: 15px solid #282858;
      border-bottom: 15px solid transparent; }

#var_area {
  position: absolute;
  left: 0px;
  width: 250px;
  top: 0px;
  bottom: 0px; }
  #var_area .label {
    padding: 3px;
    border-bottom: 1px dashed white; }
  #var_area .variables {
    display: none; }
  #var_area .variables.active {
    display: block; }
  #var_area #stack {
    display: none; }
    #var_area #stack .label {
      font-weight: bold; }
    #var_area #stack .vname {
      display: inline-block;
      width: 100px; }
    #var_area #stack .data.executing {
      background-color: #556; }
  #var_area #stack > .frame > .data {
    display: none; }
  #var_area #stack > .frame.active > .data {
    display: block; }

#functions {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 250px;
  right: 0px;
  border-left: 1px solid white; }
  #functions #fun-names {
    z-index: 2;
    position: relative;
    padding-top: 6px;
    padding-left: 18px;
    border-bottom: 1px solid white;
    padding-right: 4px;
    background-color: #336; }
    #functions #fun-names #add_fun {
      position: absolute;
      top: 0px;
      left: 3px;
      font-size: 18px;
      cursor: pointer; }
    #functions #fun-names span.fun {
      position: relative;
      display: inline-block;
      border: 1px solid white;
      background-color: #282858;
      cursor: default;
      padding-top: 2px;
      padding-left: 8px;
      padding-right: 8px;
      margin-right: -6px;
      margin-bottom: -2px;
      margin-top: 2px; }
      #functions #fun-names span.fun .cornerb, #functions #fun-names span.fun .cornerw {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 0px;
        height: 0px;
        border-right: 5px solid transparent;
        border-top: 5px solid white; }
      #functions #fun-names span.fun .cornerw {
        top: -6px;
        left: -1px;
        border-top: 5px solid #336; }
      #functions #fun-names span.fun .rem {
        position: absolute;
        top: -3px;
        right: 0px;
        cursor: pointer;
        display: none; }
    #functions #fun-names span.fun.active {
      border-bottom: none;
      padding-bottom: 2px;
      background-color: #336; }
    #functions #fun-names span.fun:hover .rem {
      display: inline; }
  #functions #instructions {
    z-index: 1;
    position: absolute;
    padding: 5px;
    top: 25px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow: auto; }
    #functions #instructions .instructions {
      display: none; }
    #functions #instructions .instructions.active {
      display: block; }

/* all custom menus */
.menu {
  display: none;
  position: absolute;
  border: 1px solid white;
  background-color: #282858;
  z-index: 10; }
  .menu .menu_item, .menu .menu_edit {
    padding: 3px;
    white-space: nowrap; }
  .menu .menu_split {
    width: 100%;
    height: 0px;
    border-bottom: 1px solid white; }
  .menu .menu_label {
    text-align: center;
    font-style: italic;
    cursor: auto; }
  .menu .menu_item:hover, .menu .menu_edit:hover, .menu .menu_hl {
    background-color: #556; }

#project_menu {
  top: 24px;
  left: -1px; }

footer {
  position: fixed;
  bottom: 5px;
  left: 50%;
  width: 300px;
  margin-left: -150px;
  text-align: center; }

#overlay {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  right: 0px;
  background-color: #eee;
  opacity: 0.5; }

#project_list {
  min-height: 200px;
  margin: 5em; }
  #project_list table {
    width: 100%;
    border-collapse: collapse; }
    #project_list table .pname {
      width: 50%; }
    #project_list table .left {
      text-align: left; }
    #project_list table .center {
      text-align: center; }
    #project_list table td {
      border: 1px solid white;
      padding: 0.3em 1em; }
    #project_list table .project:nth-child(odd) {
      background-color: #282858; }
    #project_list table .project:hover {
      background-color: #556;
      cursor: pointer; }

/*# sourceMappingURL=page.css.map */
