/* 
    Created on : Jun 8, 2015, 2:59:16 PM
    Author     : mzijlstra
*/

// color for currently executing item
$exec: greenyellow;

.exec #controls {
    #reset {
        color: $fg;
    }
    #reset:hover {
        color: red;
    }
}

// pointer on all elements while executing is always default
.exec .del, .exec .connection {
    cursor: default !important;
}

// delete and menu items should not apear while executing
.exec div:hover .del, .exec div:hover .menu {
    display: none !important;
}

// connection element
.exec .executing.connection { 
    div.line, div.sline {
        border-color: $exec;
    }
    div.arrow_down {
        border-top-color: $exec;
    }
}

// border color for basic statements
.exec .executing .start,
.exec .executing .stop,
.exec div.statement span.executing,  // input, output, and assingment
.exec .executing.statement > .input > .io,
.exec .executing.statement > .output > .exp, 
.exec .executing.statement > .assignment > .exp, 
.exec .asgn.executing
{
    border-color: $exec;
}
.exec .io.eval,
.exec .exp.eval, 
.exec .asgn.eval
{
    color: $exec;
} 
// border color for if and while conditions
.exec .executing > div > .diamond > .diamond_top_outside {
    border-bottom-color: $exec;
}
.exec .executing > div > .diamond > .diamond_bot_outside {
    border-top-color: $exec;
}

// left and right branchs of the if statement
.exec .top_connect.executing,
.exec .absolute_right.executing,
.exec .absolute_left.executing,
.exec .bot_right_connect.executing,
.exec .bot_left_connect.executing
{
    border-color: $exec;
}
.exec .bot_left_connect.executing .arrow_left {
    border-right-color: $exec;
}

// while statement
.exec .false_line.executing,
.exec .true_connector.executing,
.exec .return_line.executing
{
    border-color: $exec;
}
.exec .return_line.executing .arrow_up {
    border-bottom-color: $exec;
}