/* 
    Created on : Aug 1, 2014, 3:05:57 PM
    Author     : Michael Zijlstra <mzijlstra at mum.edu>
*/

// global variables
$bg: #336; // white;
$fg: white;// #336;
$menu: #282858; //#f8f8f8;
$hl: #556; //#dde;
$disable: #444; //#ccc;
$border: solid $fg;
$hide: solid transparent;
$error: red;
$exec: greenyellow; // color for currently executing item

$line:  1px;
$point: 3px;
$arrow: 8px;
$size: 60px;

@import 'flowchart';
@import 'exec';

body {
    font-family: monospace;
    font-size: 12px;
    color: $fg;
    background-color: $bg;
}

input {
    font-family: inherit;
    font-size: inherit;
    background-color: $bg;
    border-color: $fg;
    color: $fg;
}

h1 {
    margin-left: 35px;
    margin-top: 0px;
}

// iframes will be used for sandboxed JS evaluation
// they will never have content, and should never show
iframe {
    display: none !important;
}

div#projects {
    background-color: $menu;
    position: absolute; 
    top: 10px;
    left: 10px;
    width: 25px;
    height: 25px;
    border: $line $border;
    cursor: pointer;

    div.arrow_down {
        position: relative;
        margin-left: 5px;
        top: 9px;
    }
}

div#projects:hover #project_menu {
    display: block;
}

#user {
    position: absolute;
    top: 0px;
    right: 0px;
    margin-right: 5px;
}

#building_blocks {
    display: none;
}

#workspace {
    position: fixed;
    top: 40px;
    bottom: 20px;
    left: 10px;
    right: 2px;
    border-top: $line $border;
    border-bottom: $line $border;
    border-right: $line $border;
}

#controls {
    z-index: 100;
    position: absolute;
    bottom: -77px;
    right: 0px;
    width: 75px;
    height: 75px;
    border-left: $line $border;
    border-bottom: $line $border;
    cursor: pointer; 
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    #play_pause {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        //background: radial-gradient(circle, #99D 1%, $fg 57%, $menu 60%);
        background: radial-gradient(circle, #AAD 1%, $fg 57%, $menu 60%);

        #play_btn {
            width: 0px;
            height: 0px;
            position: absolute;
            top: 20px;
            left: 30px;
            border-left: 22px solid $bg;
            border-top: 15px $hide;
            border-bottom: 15px $hide;
        }

        #pause_btn {
            display: none;
            position: absolute;
            top: 23px;
            left: 28px;

            .pause_bar {
                width: 0px;
                height: 0px;
                display: inline-block;
                border-left: 10px solid $bg;
                border-top: 25px solid $bg;
                margin-left: -3px;
            }
        }        
    }

    .control {
        width: 75px;
        text-align: center;
        border: $line $border;
        position: absolute;        
        background-color: $menu;
        border-left: none;
        border-right: none;
    }
    #reset {
        left: -15px - $line;
        top: 75px + $line;
        transform: rotate(-90deg);
        transform-origin: 0 0;
        color: $disable;
    }
    #step_btn, #delay_disp {
        bottom: -15px -$line;
        left: -$line;
        border-right: none;

        input {
            position: absolute;
            left: 45px;
            top: -2px;
            width: 27px;
        }
    }
    #step_btn {
        display: none;
    }

    #corner_ctrl {
        position: absolute;
        left: -16px;
        bottom: -16px;
        width: 0px;
        height: 0px;
        border-right: 15px solid $fg;
        border-bottom: 15px $hide;

        #corner_menu {
            position: absolute;
            top: 0px;
            right: -16px;
            border-right: 15px solid $menu;
            border-bottom: 15px $hide;
        }
    }
}

#var_area {
    position: absolute;
    left: 0px;
    width: 250px;
    top: 0px;
    bottom: 0px;

    .label {
        padding: 3px;
    }

    .variables {
        display: none;
    }
    .variables.active {
        display: block;
    }
    #stack {
        display: none;

        .frame {
            padding-left: 10px;
        }
        .flabel {
            font-size: 115%;
        }
        table.data {
            border-collapse: collapse;
            width: 100%;
        }
        table.data td {
            border-bottom: $line dashed $fg;
            border-top: $line dashed $fg;
            padding-left: 10px;
        }
        td.vname {
            border-right: $line dashed $fg;
        }
        td.vdata {
            min-width: 100px;
        }
    }
    #stack .frame.active {
        font-weight: bold;
    }
}

#functions {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 250px;
    right: 0px;
    border-left: $line $border;

    #fun-names { 
        z-index: 2;
        position: relative;
        padding-top: 6px;
        padding-left: 18px;
        border-bottom: $line $border;
        padding-right: 4px;
        background-color: $bg;

        #add_fun {
            position: absolute;
            top: 0px;
            left: 3px;
            font-size: 18px;
            cursor: pointer;
        }

        span.fun {
            position: relative;
            display: inline-block;
            border: $line $border;
            background-color: $menu;
            cursor: default; 
            padding-top: 2px;
            padding-left: 8px;
            padding-right: 8px;
            margin-right: -6px;
            margin-bottom: -2px;
            margin-top: 2px;

            .cornerb {
                position: absolute;
                top: 0px;
                left: 0px;
                width: 0px;
                height: 0px;
                border-right: 5px $hide;
                border-top: 5px $border;                
            }

            .cornerw {
                @extend .cornerb;
                top: -6px;
                left: -1px;
                border-top: 5px solid $bg;                                
            }

            .rem {
                position: absolute;
                top: -3px;
                right: 0px;
                cursor: pointer;
                display: none;
            }
        }
        span.fun.active {
            border-bottom: none;
            padding-bottom: 2px;
            background-color: $bg;
        }
        span.fun:hover .rem {
            display: inline;
        }
    }


    #instructions {
        z-index: 1;
        position: absolute;
        padding: 5px;
        top: 25px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        overflow: auto;

        .instructions {
            display: none;
        }
        .instructions.active {
            display: block;
        }
    }

    #output_disp {
        display: none;
        z-index: 10;
        border: $line $border;
        border-bottom: none;
        background-color: $bg;
        color: $fg;
        position: absolute;
        bottom: 0px;
        right: 15px;
        width: 400px;
        height: 150px;

        .label {
            font-weight: bold;
            color: $bg;
            background-color: $fg;
            border-bottom: $line $border;
        }

        #out {
            padding: 3px;
            overflow: auto;
            height: 130px;
        }
    }
}

/* all custom menus */
.menu {
    display: none;
    position: absolute;
    border: $line $border;
    background-color: $menu;
    z-index: 10;

    .menu_item, .menu_edit {
        padding: 3px;
        white-space: nowrap;
    }
    .menu_split {
        width: 100%;
        height: 0px;
        border-bottom: $line $border;
    }
    .menu_label {
        text-align: center;
        font-style: italic;
        cursor: auto;
    }
    .menu_item:hover, .menu_edit:hover, .menu_hl {
        background-color: $hl;
    }
}

#project_menu {
    top: 24px;
    left: -1px;    
}

footer {
    position: fixed;
    bottom: 5px;
    left: 50%;
    width: 300px;
    margin-left: -150px;
    text-align: center;
}

#overlay {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    right: 0px;
    background-color: #bbb;
    opacity: 0.4;
}

.popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 150px;
    width: 380px;
    min-height: 100px;
    margin-left: -190px;
    border: 2*$line $border;
    padding: 2em;
    background-color: $bg;

    .popup_content {
        min-height: 65px;

        .msg {
            white-space: pre;
        }
        input {
            width: 100%;
            margin-top: 1em;
        }
    }
    .center {
        text-align: center;
        margin-top: 1em;
    }
}

#project_list {
    min-height: 200px;
    margin: 5em;

    table {
        width: 100%;
        border-collapse: collapse;

        .pname {
            width: 50%;
        }
        .left {
            text-align: left;
        }
        .center {
            text-align: center;
        }
        td {
            border: $line $border;
            padding: 0.3em 1em;
        }
        .project:nth-child(odd) {
            background-color: $menu;
        }
        .project:hover {
            background-color: $hl;
            cursor: pointer;
        }
    }
}
